img,
video,
Svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*:not(#blur, #circle) {
  z-index: 3;
}
*:not(body, dialog, .outline, button) {
  background-color: transparent;
  position: sticky;
}
.sans{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.gradiant{
  background: linear-gradient( to right, #00ddc0, purple);
}